@import "tailwindcss";

/* Aggiungi qui eventuali regole personalizzate */
@theme {
    --font-display: "Saira Condensed", sans-serif;
    --main-color: #801835;
    --light-text-color: #ffffff;
    --dark-text-color: #040404;
    --secondary-text-color: #353535;
    --text-shadow-hero: 2px 5px 0px #801835;
    --button-hover-color: #561024;
    --not-active-nav-links: #a5a5a5;
    --active-color: #c5ad36;
    --breakpoint-xs: 35rem;
    --breakpoint-l: 55rem;
}


/* BURGER MENU -> X */
.burger-menu.open span:nth-child(1){
    transform: rotate(45deg) translateY(12px);
}
.burger-menu.open span:nth-child(2){
    opacity: 0;
}
.burger-menu.open span:nth-child(3){
    transform: rotate(-45deg) translateY(-12px);
}